<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ settings.siteName }}</title>
    </head>
    <body>

    <ul id="navmenu">
        {% for pagefile in collections.pages %}
            <li {% if pagefile.url == page.url %} class="active" {% endif %}><a href="{{ pagefile.url }}">{{ pagefile.data.title }}</a></li>
        {% endfor %}
    </ul>

    <div id="tagsmenu">
        {% for tag in collections.tagList %}
            {% set tagUrl %}/Projects/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" {% if tagUrl == page.url %} class="active" {% endif %}>{{ tag }}</a>
        {% endfor %}
    </div>
