<ul id="navmenu">
    <li class="inline"><a href="/" {% if page.url == "/" %} class="underline" {% endif %}>Projects</a></li>
    {% for pagefile in collections.pages | reverse %}
        <li class="inline"><a href="{{ pagefile.url }}" {% if pagefile.url == page.url %} class="underline" {% endif %}>{{ pagefile.data.title }}</a></li>
    {% endfor %}
    <li class="inline"><a href="/Contact/" {% if page.url == "/Contact/" %} class="underline" {% endif %}>Contact</a></li>
</ul>
