---
layout: layouts/layout.liquid
pageTitle: Welcome to my blog
permalink: /
---
wtf
{% for project in collections.projects %}
    <pre>
        <h2><a href="{{ project.url }}">{{ project.data.pageTitle }}</a></h2>
        <em>{{ project.date | date: "%Y-%m-%d" }}</em>
    </pre>
{% endfor %}
wtf