@primarycolor   : #393536;
@secondarycolor : #E9E7D1;
@greycolor      : #908D83;

@linkcolour     : lighten(@primarycolor, 20%);

.bodytext {
    font-family: "Lato", sans-serif;
}

.headertext {
    font-family: "Ruda", serif;
}

.centertext {
    text-align: center;
}

body {
    color: @primarycolor;
    background-color: lighten(@secondarycolor, 12%);
    line-height: 1.15;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    .bodytext();
}

h1 {
    .headertext();
    font-size: 2em;
}

a {
    color: @linkcolour;
    text-decoration: none;
    &:hover {
        color: @greycolor;
    }
}

ul {
    margin: 0;
    padding: 0;
}

#container > * {
    width: 700px;
    margin: 0 auto;
}

.inline {
    display: inline;
}

.underline {
    border-bottom: 0.2em solid @linkcolour;
}

.underline-lighter {
    border-bottom: 0.2em solid lighten(@linkcolour, 10%);
}

.margin-vertical {
    margin: 2em 0;
}
