---
title: Categories
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /Projects/{{ tag }}/
---
<h2>{{ tag }}</h2>

{% set projectslist = collections[ tag ] %}
{% include "layouts/partials/projectslist.njk" %}
