---
title: Projects
permalink: /
layout: layouts/base_tags.njk
---
{% for project in collections.projects %}
    <div>
        <h1><a href="{{ project.url | url }}">{{ project.data.title }}</a></h1>
        <p><time datetime="{{ project.date | htmlDateString }}">Posted on {{ project.date | readableDate }}</time></p>
        <p>Categories: <em>{{ project.data.tags | filterAndLinkProjectsTag }}</em></p>
    </div>
{% endfor %}
