<!doctype html>
<html lang="en">
    {% include "layouts/partials/head.njk" %}

    <body>
        {% include "layouts/partials/header_top.njk" %}
        {% include "layouts/partials/body_content.njk" %}
        {% include "layouts/partials/footer.njk" %}
    </body>
</html>
